.feed {
  display: flex;
  width: 35%;
  border-left: 1px solid #eff1f1;
  border-right: 1px solid #eff1f1;
  flex-direction: column;
}

/* TITLE */

.feed__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1da1f2;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eff1f1;
}

.feed__title > p {
  font-weight: 700;
  font-size: 1.25rem;
  color: #0f1419;
}

.title__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: fit-content;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.title__icon:hover {
  background-color: #dae8f1;
  color: #1da1f2;
  cursor: pointer;
}

.feed__content {
  flex: 1;
  overflow-y: scroll;
}

.feed__content::-webkit-scrollbar {
  display: none;
}
